<?php
/**
 *
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.View.Scaffolds
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<div class="<?php echo $pluralVar; ?> form scf">
<?php echo $this->Session->flash(); ?>
<?php
	echo $this->Form->create();
	echo $this->Form->inputs($scaffoldFields, array('created', 'modified', 'updated'));
	echo $this->Form->end(__d('cake', 'Submit'));
	if(in_array('geo_lon',$scaffoldFields)){
	?>
	<div>
		<h2>Перетащите метку для указания местоположения объекта или щелкните на нужном месте карты: </h2>
		<div id="YMapsID" style="width:100%; min-width: 300px; height: 300px;"></div>

		<script type="text/javascript">
			ymaps.ready(init);
			var myMap, myGeoObject;
			function init (ymaps) {
				myMap = new ymaps.Map("YMapsID", {
					center: [<?php echo (!empty($this->request->data[$modelClass]['geo_lat'])?$this->request->data[$modelClass]['geo_lat']:'0').','.(!empty($this->request->data[$modelClass]['geo_lon'])?$this->request->data[$modelClass]['geo_lon']:'0'); ?>],
					zoom: 1
				});

				myGeoObject = new ymaps.Placemark(
				[<?php echo (!empty($this->request->data[$modelClass]['geo_lat'])?$this->request->data[$modelClass]['geo_lat']:'0').','.(!empty($this->request->data[$modelClass]['geo_lon'])?$this->request->data[$modelClass]['geo_lon']:'0'); ?>],
				{
					balloonContentBody: 'Широта: <?php echo (!empty($this->request->data[$modelClass]['geo_lat'])?$this->request->data[$modelClass]['geo_lat']:'0'); ?><br>Долгота: <?php echo (!empty($this->request->data[$modelClass]['geo_lon'])?$this->request->data[$modelClass]['geo_lon']:'0'); ?>'
				},
				{
					draggable: true				
				}
				);
				
				myGeoObject.events.add(
					['dragend'],
					function(e){
						myGeoObject.properties.set({balloonContentBody: 'Широта: '+myGeoObject.geometry.getCoordinates()[0]+'<br>Долгота: '+myGeoObject.geometry.getCoordinates()[1]});
						setinputvalues();
					}
				);
				
				myMap.geoObjects.add(myGeoObject);
				
				myMap.events.add(
					['click'],
					function(e){
						myGeoObject.geometry.setCoordinates(e.get('coords'));
						setinputvalues();
					}
				);
			}
			function setinputvalues(){
						jQuery(jQuery('input#<?php echo $modelClass; ?>GeoLon')).val(myGeoObject.geometry.getCoordinates()[1]);
						jQuery(jQuery('textarea#<?php echo $modelClass; ?>GeoLon')).val(myGeoObject.geometry.getCoordinates()[1]);
						jQuery(jQuery('input#<?php echo $modelClass; ?>GeoLat')).val(myGeoObject.geometry.getCoordinates()[0]);	
						jQuery(jQuery('textarea#<?php echo $modelClass; ?>GeoLat')).val(myGeoObject.geometry.getCoordinates()[0]);							
			}
		</script>
	</div>
	<?php
	}
?>
</div>
<div class="actions">
	<h3><?php echo __d('cake', 'Actions'); ?></h3>
	<ul>
<?php if ($this->request->action !== 'add'): ?>
		<li><?php echo $this->Form->postLink(
			__d('cake', 'Delete'),
			array('action' => 'delete', $this->Form->value($modelClass . '.' . $primaryKey)),
			null,
			__d('cake', 'Are you sure you want to delete # %s?', $this->Form->value($modelClass . '.' . $primaryKey)));
		?></li>
<?php endif; ?>
		<li><?php echo $this->Html->link(__d('cake', 'List') . ' ' . $pluralHumanName, array('action' => 'index')); ?></li>
<?php
		$done = array();
		foreach ($associations as $_type => $_data) {
			foreach ($_data as $_alias => $_details) {
				if ($_details['controller'] != $this->name && !in_array($_details['controller'], $done)) {
					echo "\t\t<li>" . $this->Html->link(
						__d('cake', 'List %s', Inflector::humanize($_details['controller'])),
						array('plugin' => $_details['plugin'], 'controller' => $_details['controller'], 'action' => 'index')
					) . "</li>\n";
					echo "\t\t<li>" . $this->Html->link(
						__d('cake', 'New %s', Inflector::humanize(Inflector::underscore($_alias))),
						array('plugin' => $_details['plugin'], 'controller' => $_details['controller'], 'action' => 'add')
					) . "</li>\n";
					$done[] = $_details['controller'];
				}
			}
		}
?>
	</ul>
</div>
