<?php
echo $this->Form->create('User', array('action' => 'edit'));
//echo $this->Form->input('email_address',array('type'=>'text','between'=>'<br>','class'=>'text'));
//echo $this->Form->input('username',array('type'=>'text','between'=>'<br>','class'=>'text'));
//echo $this->Form->input('password',array('type'=>'password','between'=>'<br>','class'=>'text'));
echo $this->Form->inputs($Fields, array('created', 'modified', 'updated','enabled','last_activity','balance','emps_count','vacancies_count'));
echo $this->Form->end(__('Edit'));
?>