<?php
echo $this->Form->create('User', array('action' => 'register'));
echo $this->Form->input('email_address',array('type'=>'text','between'=>'<br>','class'=>'text'));
echo $this->Form->input('username',array('type'=>'text','between'=>'<br>','class'=>'text'));
echo $this->Form->input('password',array('type'=>'password','between'=>'<br>','class'=>'text'));
echo $this->Form->end('Register');
?>