<div id="admin_lnks">
<?php
	//if(count($adminControllers)>0){
	?>
	<h2>
	<?php
		echo $this->Html->link(__('Admin'), array('admin' => true, 'controller' => 'search', 'action' => 'index'));
	?>
	</h2>
	<ul>
	<?php
	/*foreach($adminControllers as $controllerItem=>$controllerMethods){
		?>
		<li>
		<?php
		echo $this->Html->link($controllerItem, array('admin' => false, 'controller' => $controllerItem, 'action' => 'index'));
		if(is_array($controllerMethods)){
			?>
			<ul>
			<?php
			foreach($controllerMethods as $controllerMethodKey=>$controllerMethod){
				?>
				<li>
				<?php
				echo $this->Html->link($controllerMethod, array('admin' => false, 'controller' => $controllerItem, 'action' => $controllerMethod));
				?>
				</li>
				<?php
			}
			?>
			</ul>
			<?php
		}
		?>
		</li>
		<?php
	}*/
	?>
	
	<?php foreach($cntrls as $v){
	?>
		<li><?php echo $this->Html->link(__($v), '/admin/'.$v.'/'); ?></li>
	<?php
	}
	?>
		<!-- 
		<li>
		<?php
		echo $this->Html->link(__('Settings'), array('admin' => false, 'controller' => 'settings', 'action' => 'index'));
		?>
		</li>		
		<li>
		<?php
		echo $this->Html->link(__('Users'), array('admin' => false, 'controller' => 'users', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Employees'), array('admin' => true, 'controller' => 'search', 'action' => 'emps'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Vacancies'), array('admin' => false, 'controller' => 'vacancies', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Services'), array('admin' => false, 'controller' => 'services', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Specialities'), array('admin' => false, 'controller' => 'specs', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Nationalities'), array('admin' => false, 'controller' => 'nations', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('User groups'), array('admin' => false, 'controller' => 'groups', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Permissions'), array('admin' => false, 'controller' => 'permissions', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Regions'), array('admin' => false, 'controller' => 'regions', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Cities'), array('admin' => false, 'controller' => 'cities', 'action' => 'index'));
		?>
		</li>
		<li>
		<?php
		echo $this->Html->link(__('Districts'), array('admin' => false, 'controller' => 'districts', 'action' => 'index'));
		?>
		</li> -->
	</ul>
	<?php
	//}
?>
</div>
<div id="dbg_nfo" style="display:none;">
	<p>
		$adminControllers=<br />
		<?php echo var_dump($adminControllers); ?>
	</p>
	<p>
		$emps=<br />
		<?php echo var_dump($emps); ?>
	</p>
	<p>
		$pst=<br />
		<?php echo var_dump($pst); ?>
	</p>
	<p>
		$cnd=<br />
		<?php echo var_dump($cnd); ?>
	</p>
</div>