<div>
	<h2>
	<?php
		echo $this->Html->link(__('Admin'), array('admin' => true, 'controller' => 'search', 'action' => 'index')).' -> '.$this->Html->link(__('Employees'), array('admin' => true, 'controller' => 'search', 'action' => 'emps'));
	?>
	</h2>
	<table>
	<?php foreach($emps as $emp){
		//echo $this->Html->TableCells($emp ["Search"]);
		?>
		<tr>
		<td><?php echo $this->Html->link($emp ["Search"]['name'], /*array('controller'=>'Search', 'action'=>'edit', 'id'=>$emp ["Search"]['id'])*/'/emps/edit/'.$emp ["Search"]['id']); ?></td>
		</tr>
		<?php
	} ?>
	</table>
	<table>
	<?php foreach($emps as $emp){
		echo $this->Html->TableCells($emp ["Search"]);
	} ?>
	</table>	
</div>